@use 'sass:math';
@mixin example ($x, $y, $pseudo: false) {
    width: 100%;
    padding-top: math.div($y, $x)*100%;
}

.container {
    @include example(20, 6, false);
    background-color: yellow;
}